img{
    width:10% ;
    height:10% ;
 margin-right: 1500px;
   }

   div{
    padding: 20px;
    text-align: center ;
    text-align: top;
    background-color:steelblue;  
}
 #nombre{
    font-weight: bolder;
    margin-top: 50%;
    margin-left:  10px;
}