<div class="row">
  <h1> experiencia laboral</h1>
  <div class="col-lg-11">
    <ul>
      <li><h1>programador </h1> - <h3>(years)</h3></li>   
     <p>
       principiante en esto de la programacion, por lo que tengan paciencia ya que escribo lento.
     </p>
  </ul>
  <ul>
    <li><h1>Video editor (sony Vegas)</h1> - <h3>(1 year)</h3></li>   
   <p>
    son medio experto en editar videos, lo malo es que no tengo el hardware para renderizar correctamente el projecto.
   </p>
</ul>
<ul>
  <li><h1>3D animator (MMD/Gmod)</h1> - <h3>(3 years)</h3></li>   
 <p>
  ya con un par de años como animador 3D, pidanme lo que quieran nomas.
 </p>
</ul>
  </div>
</div>
